@use './partials/variables' as *;

$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss'; 
@import '@fortawesome/fontawesome-free/scss/regular.scss'; 
@import '@fortawesome/fontawesome-free/scss/brands.scss';

@import 'bootstrap/scss/bootstrap';


img {
    width: 100%;
}

p {
    line-height: 2.3rem;
}

.bg-my-dark-grey {
    background-color: $black;
}

.bg-my-green {
    background-color: $green;
}

.bg-my-white {
    background-color: $white;
}

.bg-my-light-grey {
    background-color: $light-grey !important;
}

.text-my-blue {
    color: $light-blue;
}

.text-my-dark-grey {
    color: $dark-grey;
}

.text-my-grey {
    color: $grey;
}

.text-my-green {
    color: $green;
}
